<div class="container">
  <h1>Edit your Observation</h1>

  <%= form_for(@observation) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :presentation_id, "Presentation ID" %>
      <%= f.text_field :presentation_id, class: "u-full-width" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :user_id, "Observer ID" %>
      <%= f.text_field :user_id, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.submit class: "button-primary" %>
      <% end %>
    </div>
    <div class="six columns">
      <%= link_to "Delete this observation", observation_path(@observation.id), method: 'delete' %>
    </div>
  </div>
