<div class="container">
  <h1>Edit your Observation</h1>

  <%= form_for(@observation) do |f| %>

  <%= f.label :presentation_id %>
  <%= f.text_field :presentation_id %><p/>

  <%= f.label :user_id %>
  <%= f.text_field :user_id %><p/>

  <%= f.submit %>
  <% end %>

  <%= link_to "Delete this observation", observation_path(@observation.id), method: 'delete' %>


</div>
