<div class="container">
  <h1>Your Observations</h1>

  <table class="hover-table">
    <thead>
      <th>Observation ID</th>
      <th>Presentation ID</th>
      <th>Date of Presentation</th>
      <th>Observer</th>
      <th>Presenter</th>
      <th>School</th>
      <th>Department</th>
      <th>Date Added</th>
    </thead>

    <% @observation.each do |a| %>
    <tr class='clickable-row' data-href= <%= "/observations/#{a.id}" %>>
      <% @presentation = Presentation.find_by id: a.presentation_id %>
      <td>
        <%= link_to a.id, "/observations/#{a.id}", method: 'get' %>
      </td>
      <td><% if @presentation != nil %>
        <%= link_to a.presentation_id, "/presentations/#{a.presentation_id}" %>
        <% else %>
        <%= "n/a" %>
        <% end %></td>
      <td><% if @presentation != nil %>
        <%= @presentation.date.to_s(:pretty_dt) %>
        <% end %></td>
      <td><% @userid = a.user_id %>
      <% b = User.find(@userid) %>
      <%= b.first_name.to_s + " " + b.last_name.to_s %></td>
      <td><% if @presentation != nil %>
        <% @presenter_id = @presentation.user_id %>
        <% c = User.find(@presenter_id) %>
        <%= c.first_name.to_s + " " + c.last_name.to_s %>
      </td>
      <td><%= @presentation.school %></td>
      <td><%= @presentation.department %><% end %></td>
      <td><%= a.created_at.to_s(:pretty_dt) %></td>
    </tr>

    <% end %>

    <% if @observation == [] %>
    <h3>You haven't added any observations yet. <a href="/observations/new">Add one now.</a></h3>
    <% end %>

  </table>
</div>
