<div class="container">
  <h1>Add your Observation</h1>
<p>You'll need to enter a Presentation ID number below in order to associate your observation with the date/school/department.</p>
<p>To find the Presentation ID, <a href="/presentations/all">click here for the full list of Presentations</a>.</p>
  <%= form_for(@observation) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :presentation_id, "Presentation ID" %>
      <%= f.text_field :presentation_id, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "u-full-width" %><p/>
  </div>
  <div class="row">
      <%= f.submit class: "button-primary" %>
      <% end %>
  </div>
</div>
