<div class="container">
  <h1>Add your Observation</h1>

  <%= form_for(@observation) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :presentation_id, "Presentation ID" %>
      <%= f.text_field :presentation_id, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "u-full-width" %><p/>
  </div>
  <div class="row">
      <%= f.submit class: "button-primary" %>
      <% end %>
  </div>
</div>
