<div class="container">
  <h1>Edit your Classes*v2 to Canvas Transition</h1>

  <%= form_for(@transition) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :clientname, "Client Name", id: "client" %>
      <%= f.text_field :clientname, class: "u-full-width client"%><p/>
    </div>
    <div class="six columns">
      <%= f.label :client_role, "Client Role" %>
      <%= f.select :client_role, options_for_select(['Teaching Faculty', 'Non-teaching Faculty','Teaching Assistant','Canvas Admin', 'Help Desk', 'Student', 'Department Admin', 'Librarian'], :selected => @selected), {}, {:class => "u-full-width" } %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :subject %>
      <%= f.text_field :subject, class: "u-full-width" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :course_number, "Course # and Section (if applicable)" %>
      <%= f.text_field :course_number, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :course, "Course Name" %>
      <%= f.text_field :course, class: "u-full-width" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :term %>
      <%= f.select :term, options_for_select(['(F16)', '(Su16)','(S16)'], :selected => @selected), {}, {:class => "u-full-width" } %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :tools, "Tools Transferred" %></br>
      <%= f.check_box(:tools, { :multiple => true }, 'Resources', nil) %>
      Resources</br>
      <%= f.check_box(:tools, { :multiple => true }, 'Tests & Quizzes', nil) %>
      Tests and Quizzes</br>
      <%= f.check_box(:tools, { :multiple => true }, 'Assignments', nil) %>
      Assignments</br>
      <%= f.check_box(:tools, { :multiple => true }, 'Gradebook', nil) %>
      Gradebook</br>
      <%= f.check_box(:tools, { :multiple => true }, 'Syllabus', nil) %>
      Syllabus</br>
      <%= f.check_box(:tools, { :multiple => true }, 'Other', nil) %>
      Other</br>
    </div>
    <div class="six columns">
      <%= f.label :date, "Date of Transition" %>
      <%= f.datetime_local_field :date, class: "u-full-width", required: true  %><p/>
    </div>
  </div>
  <div class="row">
    <%= f.label :link_to_prev_course, "Link to Old Classes*v2 Course" %>
    <%= f.url_field :link_to_prev_course, class: "u-full-width", value: "https://classesv2.yale.edu/portal/site/" %><p/>
  </div>
  <div class="row">
    <%= f.label :link_to_new_course, "Link to New Canvas Course" %>
    <%= f.url_field :link_to_new_course, class: "u-full-width", value: "https://yale.instructure.com/courses/" %><p/>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.submit class: "button-primary"%>
    </div>
    <div class="six columns">
      <%= link_to "Delete this transition", transition_path(@transition.id), method: 'delete', data: { confirm: "Are you sure?" } %>
    </div>
  </div>
  <% end %>
</div>
