<div class="container">
  <h1>All Classes*v2 to Canvas Transitions</h1>

  <table>
    <tr>
      <th>Team Member (ID)</th>
      <th>Faculty (ID)</th>
      <th>Course</th>
      <th>Link</th>
      <!-- <th>Date</th> -->
      <th>Date Added</th>
    </tr>
    <% @transition.each do |a| %>
    <tr>
      <td><%= a.user_id %></td>
      <td><%= a.faculty_id %></td>
      <td><%= a.course %></td>
      <td><%= a.link %></td>
      <!-- <td><%= a.date %></td> -->
      <td><%= a.created_at  %></td>
    </tr>
    <% end %>
  </table>
</div>
