<div class="container">
  <h1>New Classes*v2 to Canvas Transition</h1>

  <%= form_for(@transition) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :clientname, "Client Name", id: "client" %>
      <%= f.text_field :clientname, class: "u-full-width client"%><p/>
    </div>
    <div class="six columns">
      <%= f.label :course %>
      <%= f.text_field :course, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :date, required: true %>
      <%= f.text_field :date, class: "u-full-width", value: "mm/dd/2016, --:-- --"  %><p/>
    </div>
    <div class="six columns">
      <%= f.label :link, "Link to Canvas Course" %>
      <%= f.url_field :link, class: "u-full-width", value: "https://yale.instructure.com/courses/" %><p/>
    </div>
  </div>
  <div class="row">
    <%= f.submit class: "button-primary" %>
  </div>
  <% end %>
</div>
