<div class="container">
  <h1>New Classes*v2 to Canvas Transition</h1>

  <%= form_for(@transition) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :faculty_id, "Faculty ID" %>
      <%= f.text_field :faculty_id, class: "u-full-width" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :course %>
      <%= f.text_field :course, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">

    <%= f.label :link %>
    <%= f.text_field :link, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <%= f.submit class: "button-primary"%>
  </div>
  <% end %>
</div>
