<div class="container">
<h1>Classes*v2 to Canvas Transition <%= @transition.id %></h1>

<div class="row">
  <p>Team Member ID: <%= @transition.user_id %>
  <p>Faculty ID: <%= @transition.faculty_id %>
  <p>Course: <%= @transition.course %>
  <p>Link: <%= @transition.link %>
  <p>Date Added: <%= @transition.created_at.to_s(:pretty_dt) %>
</div>
  <p><%= link_to "Edit", "/transitions/#{@transition.id}/edit", method: 'post' %>
  </div>
