<div class="container">
  <h1>Classes*v2 to Canvas Transition <%= @transition.id %></h1>

  <p>CTL Transitioner: <%= link_to @transitioner_name, "/users/#{@transition.user_id}" %></p>
  <p>Faculty Member: <%= link_to @transition.facultyname, "/faculties/#{@transition.faculty_id}" %></p>
  <p>Course: <%= @transition.course %></p>
  <p>Date of Transition: <% if @transition.date==nil %>
    <%= @transition.date %>
  <% else %>
    <%= @transition.date.to_s(:pretty_dt) %>
  <% end %></p>
  <p>Link: <a href="<%= a.link %>"><%= a.link %></a></p>
  <p>Date Added: <%= @transition.created_at.to_s(:pretty_dt) %></p>

  <p><%= button_to "Edit", "/transitions/#{@transition.id}/edit", method: 'post', class: "button-primary" %></p>
</div>
