<div class="container">
  <h1>Edit your Documentation</h1>

  <%= form_for(@documentation) do |f| %>

  <%= f.label :user_id %>
  <%= f.text_field :user_id %><p/>

  <%= f.label :name %>
  <%= f.text_field :name %><p/>

  <%= f.label :audience %>
  <%= f.text_field :audience %><p/>

  <%= f.label :link_to_documentation %>
  <%= f.text_field :link_to_documentation %><p/>

  <%= f.submit %>
  <% end %>

  <%= link_to "Delete this documentation", documentation_path(@documentation.id), method: 'delete' %>

</div>
