<div class="container">
  <h1>All Documentation</h1>

  <table>
    <tr>
      <th>Documentation ID</th>
      <th>Team Member (ID)</th>
      <th>Name</th>
      <th>Audience</th>
      <th>Link to Documentation</th>
      <th>Date Added</th>
    </tr>
    <% @documentation.each do |a| %>
    <tr>
      <td><%= link_to a.id, "/documentations/#{a.id}", method: 'get' %></td>
      <td><%= a.user_id  %></td>
      <td><%= a.name  %></td>
      <td><%= a.audience  %></td>
      <td><%= a.link_to_documentation %></td>
      <td><%= a.created_at  %></td>
    </tr>
    <% end %>
  </table>
</div>
