<div class="container">
  <h1>Your Documentation</h1>

  <table>
    <thead>
      <th>Documentation ID</th>
      <th>Team Member (ID)</th>
      <th>Title</th>
      <th>Audience</th>
      <th>Link to Documentation</th>
      <th>Date Added</th>
    </thead>
    <% @documentation.each do |a| %>
    <tr>
      <td><%= link_to a.id, "/documentations/#{a.id}", method: 'get' %></td>
      <td><% @userid = a.user_id %>
      <% b = User.find(@userid) %>
      <%= b.first_name.to_s + " " + b.last_name.to_s %></td>
      <td><%= a.name  %></td>
      <td><%= a.audience %></td>
      <td><%= a.link_to_documentation %></td>
      <td><%= a.created_at.to_s(:pretty_dt) %></td>
    </tr>
    <% end %>

    <% if @documentation == [] %>
    <h3>You haven't added any documentation yet. <a href="/documentation/new">Add some now.</a></h3>
    <% end %>

  </table>
</div>
