<div class="container">
  <h1>Add New Documentation</h1>

  <%= form_for(@documentation) do |f| %>

  <div class="row">
    <%= f.label :name, "Title" %>
    <%= f.text_field :name, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <%= f.label :summary, "Summary/Notes (if not obvious from title)" %>
    <%= f.text_area :summary, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :audience %></br>
      <%= f.select :audience, options_for_select(['Faculty', 'Canvas Admins', 'Help Desk', 'Students', 'Teaching Assistants', 'Department Admins']), {}, {:multiple => true, :class => "u-full-width", :style => "height:100px;" } %><p/>
    </div>
    <div class="six columns">
      <%= f.label :audience_other, "Other Audiences" %>
      <%= f.text_field :audience_other, class: "u-full-width" %><p/>
      <%= f.label :link_to_documentation, "Link to Documentation" %>
      <%= f.url_field :link_to_documentation, class: "u-full-width", value: "http://" %><p/>
    </div>
  </div>
  <div class="row">
    <%= f.submit class: "button-primary" %>
    <% end %>
  </div>
</div>
