<div class="container">
  <h1>Edit your Presentation</h1>

  <%= form_for(@presentation) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :date %>
      <%= f.datetime_local_field :date, class: "u-full-width", required: true %><p/>
    </div>
    <div class="six columns">
      <%= f.label :user_id, "Presenter ID" %>
      <%= f.text_field :user_id, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :school %>
      <%= f.text_field :school, class: "u-full-width all_schools" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :department %>
      <%= f.text_field :department, class: "u-full-width all_depts" %><p/>
    </div>
  </div>
  <div class="row">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.submit class: "button-primary"%>
    </div>
    <div class="six columns">
      <%= link_to "Delete this presentation", presentation_path(@presentation.id), method: 'delete' %>
    </div>
  </div>
  <% end %>
</div>
