<div class="container">
  <h1>All Presentations</h1>

  <table>
    <thead>
      <th>Presentation ID</th>
      <th>Date</th>
      <th>School</th>
      <th>Department</th>
      <th>Presenter ID</th>
      <th>Date Added</th>
    </thead>
    <% @presentation.each do |a| %>
    <tr>
      <td><%= link_to a.id, "/presentations/#{a.id}", method: 'get' %></td>
      <td><%= a.date %></td>
      <td><%= a.school %></td>
      <td><%= a.department %></td>
      <td><%= a.user_id %></td>
      <td><%= a.created_at.to_s(:pretty_dt) %></td>
    </tr>
    <% end %>
  </table>
  <div class="row">
    Current Progress:
    <div class="progressbar">
      <div class="progress", style="width: <%= @progress %>%" >
        <div class="pbaranim">
        </div>
      </div>
    </div>
  </div>
</div>
