<div class="container">
  <h1>All Presentations</h1>

  <table>
    <thead>
      <th>Presentation ID</th>
      <th>Date of Presentation</th>
      <th>School</th>
      <th>Department</th>
      <th>Presenter</th>
      <th>Date Added</th>
    </thead>
    <% @presentation.each do |a| %>
    <tr>
      <td><%= link_to a.id, "/presentations/#{a.id}", method: 'get' %></td>
      <td><% if a.date==nil %>
        <%=  a.date %>
      <% else %>
        <%= a.date.to_s(:pretty_dt) %>
      <% end %></td>
      <td><%= a.school %></td>
      <td><%= a.department %></td>
      <td><%= a.user.first_name + " " + a.user.last_name %></td>
      <td><%= a.created_at.to_s(:pretty_dt) %></td>
    </tr>
    <% end %>
  </table>

</div>
