<div class="container">
  <h1>Add a New Presentation</h1>

  <%= form_for(@presentation) do |f| %>

  <%= f.label :date %>
  <%= f.text_field :date %><p/>

  <%= f.label :school %>
  <%= f.text_field :school %><p/>

  <%= f.label :department %>
  <%= f.text_field :department %><p/>

  <%= f.label :user_id %>
  <%= f.text_field :user_id %><p/>

  <%= f.submit %>
  <% end %>
</div>
