<div class="container">
  <h1>All Badges</h1>

  <div class="row">
    <% x = 1 %>
    <% while x < 21 %>
    <% percent = ProgressService.calc(@user,x) %>
    <% percent,den,num = percent[0],percent[1],percent[2] %>
    <div class="three columns">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <% if @badge_status.include?(x)%>

            <img src="<%= Merit::Badge.find(x).custom_fields[:image] %>",
            title="<%= Merit::Badge.find(x).custom_fields[:requirement] %>",
            class="badges_all"></img>
            <% elsif @badge_status.exclude?(x) %>
            <img src="<%= Merit::Badge.find(x).custom_fields[:image] %>",
            title="<%= Merit::Badge.find(x).custom_fields[:requirement] %>",
            class="missing_badge"></img>
            <% end %>


          </div> <!-- end front panel -->
          <div class="back">

            <div class="content">
              <div class="main">
                <h4 class="text-center">Requirements</h4>
                <p class="text-center"><%= Merit::Badge.find(x).custom_fields[:requirement] %></p>

                <div>
                  <div>
                    <hr>
                    <h4 class="text-center">Your Progress</h4>
                    <p class="text-center">
                      <div class="progressbar" title="<%= num%> of <%=den%>">
                        <div class="progress", style="width:<%= percent%>%;">
                          <div class="pbaranim">
                          </div></div></div>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- end back panel -->
            </div> <!-- end card -->
          </div> <!-- end card-container -->
        </div> <!-- end columns -->
        <% x += 1 %>
        <% end %>
      </div> <!-- end row -->
