<div class="container">
  <h1>Edit Faculty Member</h1>

  <%= form_for(@faculty) do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %><p/>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><p/>

  <%= f.label :email %>
  <%= f.text_field :email %><p/>

  <%= f.label :phone %>
  <%= f.text_field :phone %><p/>

  <%= f.label :school %>
  <%= f.text_field :school %><p/>

  <%= f.label :department %>
  <%= f.text_field :department %><p/>

  <%= f.submit %>
  <% end %>

  <%= link_to "Delete this faculty member", faculty_path(@faculty.id), method: 'delete' %>

</div>
