<div class="container">
  <h1>Edit Faculty Member</h1>
  <%= form_for(@faculty) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "u-full-width" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :email %>
      <%= f.email_field :email, class: "u-full-width" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :school %>
      <%= f.text_field :school, class: "u-full-width all_schools"%><p/>
    </div>
    <div class="six columns">
      <%= f.label :department %>
      <%= f.text_field :department, class: "u-full-width all_depts"%><p/>
    </div>
  </div>
  <div class="row">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.submit class: "button-primary" %>
      <% end %>
    </div>
    <div class="six columns">
      <%= link_to "Delete this faculty member", faculty_path(@faculty.id), method: 'delete', data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
