<div class="container">
  <h1>All Faculty</h1>

  <table>
    <thead>
      <th>Faculty ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>School</th>
      <th>Department</th>
      <th>Notes</th>
    </thead>
    <% @faculty.each do |a| %>
    <tr>
      <td><%= link_to a.id, "/faculties/#{a.id}", method: 'get' %></td>
      <td><%= a.first_name.to_s + " " + a.last_name.to_s %></td>
      <td><%= a.email %></td>
      <td><%= a.phone %></td>
      <td><%= a.school %></td>
      <td><%= a.department %></td>
      <td><%= a.notes %></td>
    </tr>
    <% end %>
  </table>
</div>
