<div class="container">
<h1>Faculty <%= @faculty.id %></h1>

<div class="row">
  <p>Faculty ID: <%= @faculty.id %>
  <p>Name: <%= @faculty.name %>
  <p>Phone: <%= @faculty.phone %>
  <p>Email: <%= @faculty.email %>
  <p>School: <%= @faculty.school %>
  <p>Department: <%= @faculty.department %>
  <p>Notes: <%= @faculty.notes %>
</div>
  <p><%= link_to "Edit", "/faculties/#{@faculty.id}/edit", method: 'post' %>
  </div>
