<div class="container">
  <h1>All Consultations</h1>

  <table class="hover-table">
    <thead>
      <th>Consultation ID</th>
      <th>Client</th>
      <th>Consultant Name</th>
      <th>Date</th>
      <th>Focus</th>
      <th>Link to Notes</th>
      <th>Date Added</th>
    </thead>
    <% @consultation.each do |a| %>
    <tr class='clickable-row' data-href= <%= "/consultations/#{a.id}" %>>
      <td><%= link_to a.id, "/consultations/#{a.id}", method: 'get' %></td>
      <td><%= link_to a.clientname, "/clients/#{a.client_id}" %></td>
      <td><% a.user_id.each do |user_id| %>
        <% if user_id != nil && user_id != ""  %>
          <%= User.find(user_id).full_name %><br />
        <% end %>
      <% end %></td>
      <td><% if a.date == nil %>
        <%=  a.date %>
      <% else %>
        <%= a.date.to_s(:pretty_dt) %>
      <% end %></td>
      <td><%= a.focus  %></td>
      <td>
          <a href="<%= a.link_to_notes %>"><%= a.link_to_notes %></a>
      </td>
      <td><%= a.created_at.to_s(:pretty_dt) %></td>
    </tr>
    <% end %>

    <% if @consultation == [] %>
    <h3>You haven't added any consultations yet. <a href="/consultations/new">Add one now.</a></h3>
    <% end %>

  </table>
  <%= link_to 'Export to CSV', all_consultations_path(format: :csv) %>
</div>
