<div class="container">
  <h1>Edit your Consultation</h1>

  <%= form_for(@consultation) do |f| %>

  <div class="row">
    <%= f.label :date %>
    <%= f.datetime_local_field :date, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :facultyname, "Faculty Name" %>
      <%= f.text_field :facultyname, class: "u-full-width", id: "faculty"%><p/>
    </div>
    <div class="six columns">
      <%= f.label :user_id, "CTL Consultant ID" %>
      <%= f.text_field :user_id, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <%= f.label :focus %>
    <%= f.text_area :focus, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <%= f.label :link_to_notes %>
    <%= f.url_field :link_to_notes, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.submit class: "button-primary"%>
    </div>
    <div class="six columns">
      <%= link_to "Delete this consultation", consultation_path(@consultation.id), method: 'delete' %>
    </div>
  </div>
  <% end %>
</div>
