<div class="container">
  <h1>All Consultations</h1>

  <table>
    <thead>
      <th>Consultation ID</th>
      <th>Faculty Member(ID)</th>
      <th>Consultant ID</th>
      <th>Date</th>
      <th>Focus</th>
      <th>Link to Notes</th>
      <th>Date Added</th>
    </thead>
    <% @consultation.each do |a| %>
    <tr>
      <td><%= link_to a.id, "/consultations/#{a.id}", method: 'get' %></td>
      <td><%= a.faculty_id  %></td>
      <td><%= a.user_id  %></td>
      <td><%= a.date.to_s(:pretty_dt) %></td>
      <td><%= a.focus  %></td>
      <td><%= a.link_to_notes %></td>
      <td><%= a.created_at.to_s(:pretty_dt) %></td>
    </tr>
    <% end %>
  </table>
</div>
