<div class="container">
  <h1>Add a New Consultation</h1>

  <%= form_for(@consultation) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :date %>
      <%= f.text_field :date, class: "input-group date u-full-width", required: true, value: "mm/dd/2016, --:-- --" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :clientname, "Client Name", id: "client" %>
      <%= f.text_field :clientname, class: "u-full-width client"%><p/>
    </div>
  </div>
  <div class="row">
    <%= f.label :focus %>
    <%= f.text_area :focus, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <%= f.label :link_to_notes %>
    <%= f.url_field :link_to_notes, class: "u-full-width", value: "http://" %><p/>
  </div>
  <div class="row">
    <%= f.submit class: "button-primary" %>
    <% end %>
  </div>
</div>
