<div class="container">
  <h1>Consultation <%= @consultation.id %></h1>

  <p>Faculty Member: <%= link_to @faculty_name, "/faculties/#{@consultation.faculty_id}" %></p>
  <p>CTL Consultant: <%= link_to @consultant_name, "/users/#{@consultation.user_id}" %></p>
  <p>Consultation Date: <%= @consultation.date.to_s(:pretty_dt) %></p>
  <p>Consultation Focus: <%= @consultation.focus %></p>
  <p>Link to Consultation Notes: <%= @consultation.link_to_notes %></p>

  <p><%= link_to "Edit", "/consultations/#{@consultation.id}/edit", method: 'post' %></p>
</div>
