<div class="container">
  <h1>Consultation with Client
<%= link_to @consultation.clientname, "/clients/#{@consultation.client_id}" %>
  </h1>
  <p>Consultation ID: <%= @consultation.id %></p>
  <p>CTL Consultants: <br />
    <% @consultation.user_id.each do |user_id| %>
      <% if user_id != nil && user_id != "" %>
        <%= User.find(user_id).full_name %><br />
      <% end %>
    <% end %>
  <p>Consultation Date: <% if @consultation.date == nil %>
    <%=  @consultation.date %>
  <% else %>
    <%= @consultation.date.to_s(:pretty_dt) %>
  <% end %></p>
  <p>Consultation Focus: <%= @consultation.focus %></p>
  <p>Link to Consultation Notes: <a href="<%= @consultation.link_to_notes %>"><%= @consultation.link_to_notes %></a></p>

  <p><%= button_to "Edit", "/consultations/#{@consultation.id}/edit", method: 'post', class: "button-primary" %></p>
</div>
