<div class="container">
<h1>Consultation <%= @consultation.id %></h1>

<div class="row">
  <p>Faculty ID: <%= @consultation.faculty_id %>
  <p>Team Member ID: <%= @consultation.user_id %>
  <p>Consultation Date: <%= @consultation %>
  <p>Consultation Focus: <%= @consultation.focus %>
  <p>Link to Consultation Notes: <%= @consultation.link_to_notes %>
</div>
  <p><%= link_to "Edit", "/consultations/#{@consultation.id}/edit", method: 'post' %>
  </div>
