<div class="container">
  <h1>Edit your Account</h1>

  <%= form_for(@user) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "u-full-width" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <%= f.label :email %>
    <%= f.email_field :email, class: "u-full-width" %><p/>
  </div>
  <div class="row">
  <%= link_to "Change your password or delete your account", edit_user_registration_path %></div><p>
  <div class="row">
    <div class="six columns">
      <%= f.submit class: "button-primary" %>
    </div>
  </div>
  <% end %>
</div>
