<div class="container">
  <h1>All Users</h1>

  <table class="hover-table">
    <thead>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Last Signed In</th>
    </thead>
    <% @user.each do |a| %>
    <tr  class='clickable-row' data-href= <%= "/users/#{a.id}" %>>
      <td><%= link_to a.id, "/users/#{a.id}", method: 'get' %></td>
      <td><%= a.first_name %></td>
      <td><%= a.last_name %></td>
      <td><%= a.email %></td>
      <td><%= a.last_sign_in_at.to_s(:pretty_dt) %></td>
    </tr>
    <% end %>
  </table>
</div>
