<div class="container">
  <h1>Hi, <%= @user.first_name %> <%= @user.last_name %>!</h1>

  <p>User ID: <%= @user.id %></p>
  <p>Email: <%= @user.email %></p>
  <p>Registered on: <%= @user.created_at.to_s(:pretty_dt) %></p>
  <p>Badges:
    <ul>
      <% @user.badges.each do |badge| %>
      <li><%= badge.name %></li>
      <% end %>
    </ul></p>

    <p><%= link_to "Edit", "/users/#{@user.id}/edit", method: 'get' %></p>
  </div>
