<div class="container">
  <h1>Hi, <%= @user.first_name %> <%= @user.last_name %>!</h1>

  <p>User ID: <%= @user.id %></p>
  <p>Email: <%= @user.email %></p>
  <p>Registered on: <%= @user.created_at.to_s(:pretty_dt) %></p>

  <!-- <p>Your Consultations: <%= @users_consultations %>
  <p>Your Documentation: <%= @users_documentations %>
  <p>Your Presentations: <%= @users_presentations %>
  <p>Your Observations: <%= @users_observations %>
  <p>Your Transitions: <%= @users_transitions %> -->
  <div class="row">
  <p>Badges Earned:</p>
        <% @user.badges.each do |badge| %>
        <img class="user_badge" src="<%= badge.custom_fields[:image] %>", title="<%= badge.description %>" />
        <% end %>
      </div>
    <div class="row">

      <%= button_to "View all badges", "/badges/all", method: 'get', class: "button-primary float_left" %>

      <%= button_to "Edit profile", "/users/#{@user.id}/edit", method: 'get', class: "button-primary float_left" %>

    </div>

</div>
