<div class="container">
  <h1>Add a New Client</h1>

  <%= form_for(@client) do |f| %>

  <div class="row">
    <div class="six columns">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "u-full-width" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :email %>
      <%= f.email_field :email, class: "u-full-width" %><p/>
    </div>
    <div class="six columns">
      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: "u-full-width" %><p/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :role %>
      <%= f.select :role, options_for_select(['Faculty', 'Canvas Admin', 'Teaching Assistant', 'Department Admin', 'Librarian', 'Other']), {}, {:multiple => true, :class => "u-full-width", :style => "height:100px;" } %><p/>
    </div>
    <div class="six columns">
      <%= f.label :school %>
      <%= f.text_field :school, class: "u-full-width all_schools" %><p/>
      <%= f.label :department, "Department (if applicable)" %>
      <%= f.text_field :department, class: "u-full-width all_depts"%><p/>
    </div>
  </div>
  <div class="row">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "u-full-width" %><p/>
  </div>
  <div class="row">
    <%= f.submit class: "button-primary" %>
    <% end %>
  </div>
</div>
