<!DOCTYPE html>
<html>
<head>
  <title>All Aboard Canvas</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


  <script>
  <% if controller.controller_name == 'consultations' || controller.controller_name == 'transitions' %>

  $(function() {
    var availableClient = [
      <% @availableClient.each do |client| %>
      "<%= client %>",
      <% end %>
    ];
    $( ".client" ).autocomplete({
      source: availableClient
    });
  });
  <% end %>
</script>

</head>

<body class=<%= controller.controller_name %>>

  <div class="container" id="navBar">

    <div class="four columns">
      <h3><a href="/", class="menu-logo"><i class="fa fa-ship"></i> All Aboard Canvas</a></h3>
    </div>

    <div id="nav" class="seven columns">
      <ul>

        <li class="dropdown">
          <a class="dropdown-toggle button button-primary main-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Work
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown"><a href="/consultations">Your Consultations</a></li>
              <li class="dropdown"><a href="/documentations">Your Documentation</a></li>
              <li class="dropdown"><a href="/observations">Your Observations</a></li>
              <li class="dropdown"><a href="/presentations">Your Presentations</a></li>
              <li class="dropdown"><a href="/transitions">Your Transitions</a></li>
            </ul>
          </li>
          <li><a href="/clients", class="button button-primary main-nav"> Clients</a></li>
          <li><a href="/badges/all", class="button button-primary main-nav"> Badges</a></li>

          <% if current_user != nil %>
            <li><a href="/users/<%= current_user.id %>", class="button button-primary main-nav">Profile</a></li>
            <li><a href="/users/sign_out" data-method="delete", class="button button-primary main-nav">Sign Out</a></li>
          <% else %>
            <li><a href="/#templatemo_download", class="button button-primary main-nav">Sign In</a></li>
            <li><a href="/users/#{current_user.id}", class="button button-primary main-nav">Sign Up</a></li>
          <% end %>

        </ul>
      </div>
    </div>
    <!-- 'Add' menu -->
    <div class="show-menu">
      <a class="shadow-top-down">+</a>
    </div>
    <nav class="main-menu shadow-top-down">
      <ul class="nav nav-pills nav-stacked">
        <li>Add a New:</li>
        <li><a href="/consultations/new">Consultation</a></li>
        <li><a href="/transitions/new">Transition</a></li>
        <li><a href="/presentations/new">Presentation</a></li>
        <li><a href="/observations/new">Observation</a></li>
        <li><a href="/documentations/new">Documentation</a></li>
        <li><a href="/clients/new">Client</a></li>
      </ul>
    </nav>

    <% unless notice.nil? %>
       <p class="notice"><%= notice %> <a class="close">x</a></p>
    <% end %>
    <% unless alert.nil? %>
       <p class="alert"><%= alert %> <a class="close">x</a></p>
    <% end %>

  </div>
</div>

<%= yield %>

</body>
</html>
