<!DOCTYPE html>
<html>
<head>
  <title>All Aboard Canvas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script>
  <% if controller.controller_name == 'consultations' || controller.controller_name == 'transitions' %>

  $(function() {
    var availableFaculty = [
      <% @availableFaculty.each do |faculty| %>
      "<%= faculty %>",
      <% end %>
    ];
    $( "#faculty" ).autocomplete({
      source: availableFaculty
    });
  });
  <% end %>

  $(function() {
    var all_schools = [
    "Divinity School",
    "Law School",
    "School of Architecture",
    "School of Art",
    "School of Drama",
    "School of Engineering and Applied Science",
    "School of Forestry & Environmental Studies",
    "School of Management",
    "School of Medicine",
    "School of Music",
    "School of Nursing",
    "School of Public Health",
    "Yale College"
    ];
    $( "#all_schools" ).autocomplete({
      source: all_schools
    });
  });

  $(function() {
    var all_depts = [
      "African American Studies",
      "American Studies",
      "Anthropology",
      "Applied Physics",
      "Astronomy",
      "Biomedical Engineering",
      "Chemical and Environmental Engineering",
      "Chemistry",
      "Classics",
      "Comparative Literature",
      "Computer Science",
      "East Asian Languages and Literatures",
      "Ecology and Evolutionary Biology",
      "Economics",
      "Electrical Engineering",
      "English",
      "Film and Media Studies Program",
      "French",
      "Geology and Geophysics",
      "Germanic Languages and Literatures",
      "History",
      "History of Art",
      "Humanities Program",
      "Italian",
      "Judaic Studies Program",
      "Linguistics",
      "Mathematics",
      "Mechanical Engineering and Materials Science",
      "Molecular Biophysics and Biochemistry",
      "Molecular, Cellular and Developmental Biology",
      "Music",
      "Near Eastern Languages and Civilizations",
      "Philosophy",
      "Physics",
      "Political Science",
      "Psychology",
      "Religious Studies",
      "Slavic Languages and Literatures",
      "Sociology",
      "Spanish and Portuguese",
      "Statistics",
      "Theater Studies Program",
      "Women’s, Gender, and Sexuality Studies",
    ];
    $( "#all_depts" ).autocomplete({
      source: all_depts
    });
  });

  </script>

</head>

<body class=<%= controller.controller_name %> data-no-turbolink="true">
  <div class="container" id="navBar">



    <!-- Main menu -->
    <div class="show-menu">
      <a class="shadow-top-down">=</a>
    </div>
    <nav class="main-menu shadow-top-down">
      <ul class="nav nav-pills nav-stacked nav-menu">
        <li><a href="/consultations">My Consultations</a></li>
        <li><a href="/documentations">My Documentation</a></li>
        <li><a href="/observations">My Observations</a></li>
        <li><a href="/presentations">My Presentations</a></li>
        <li><a href="/transitions">My Transitions</a></li>
        <li><a href="/faculties/all">All Faculty Members</a></li>
      </ul>
    </nav>

    <!-- 'Add' menu -->
    <div class="show-menu-add">
      <a class="shadow-top-down-add">+</a>
    </div>
    <nav class="add-menu shadow-top-down-add">
      <ul class="nav nav-pills nav-stacked nav-add">
        <li><a href="/consultations/new">Consultations</a></li>
        <li><a href="/documentations/new">Documentation</a></li>
        <li><a href="/observations/new">Observation</a></li>
        <li><a href="/presentations/new">Presentation</a></li>
        <li><a href="/transitions/new">Transition</a></li>
        <li><a href="/faculties/new">Faculty Member</a></li>
      </ul>
    </nav>

    <% unless notice.nil? %>
       <p class="notice"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
       <p class="alert"><%= alert %></p>
    <% end %>

  </div>
</div>

<%= yield %>

</body>
</html>
